$gray1: #333;
$gray2: #8e8c8d;
$gray3: #828282;
$gray4: #bdbdbd;
$gray6: #f2f2f2;

$beige: #e4dfd3;
$oliva: #8c9772;
$green: #344f10;
$red: #eb5757;

$minWidth: 320px;
$mobileMaxWidth: 767px;
$tabletMaxWidth: 1024px;
$maxWidth: 1280px;

$buttonHeight: 60px;
$buttonWidth: 280px;

$cardPhotoHeightMobile: 280px;
$cardPhotoHeightTablet: 340px;
$cardPhotoHeight: 480px;
